{% extends 'base.html' %}

{% block content %}
<h1>{{ ad.title }}</h1>
<p>{{ ad.description }}</p>
{% if ad.image_url %}
    <h3>Название изображения: {{ ad.title_image }}</h3>
    <img src="{{ ad.image_url.url }}" alt="{{ ad.title }}"
         style="max-width: 30%; height: auto;">
    <p>Количество просмотров: {{ ad.views_image }}</p>
{% endif %}
<div class="video-list">
    <div class="video-item">


        {% if ad.video_file %}
            <h3>Название видеофайла: {{ ad.title_video }}</h3>
            <video width="320" controls>
                <source src="{{ ad.video_file.url }}" type="video/mp4">
                Ваш браузер не поддерживает тег video.
            </video>
            <p>Количество просмотров: {{ ad.views_video }}</p>
        {% else %}
            <p>Видеофайл не загружен</p>
        {% endif %}
    </div>
</div>

<div class="audio-list">
    <div class="audio-item">

        {% if ad.audio_file %}
            <h3>Название аудиофайла: {{ ad.title_audio }}</h3>
            <video width="320" controls>
                <source src="{{ ad.audio_file.url }}" type="audio/mpeg">
                Ваш браузер не поддерживает тег audio.
            </video>
            <p>Количество прослушиваний: {{ ad.views_audio }}</p>
        {% else %}
            <p>Аудиофайл не загружен</p>
        {% endif %}
    </div>
</div>

<div style="display:flex; flex-direction:column">
    <span>
        <a href="{% url 'ads:edit_ad' ad.pk %}"><button type="submit">Редактировать</button></a>

    </span>
    <span>
        <a href="{% url 'ads:delete_ad' ad.pk %}"><button type="submit">Удалить</button></a>
    </span>
    <span>
        <a>Редактирование и удаление возможно только если вы автор объявления!</a>
    </span>
    <span>
        <a>Статусы блокирования: "Принято".</a>
    </span>

</div>
<div>
    <span> Порядковый номер автора {{ad.user_id}} !!!   </span>
    {% if ad.user_id %}
      <a href="{% url 'ads:watch_stream' ad.user_id %}">Cтрим видео автора</a>
    {% else %}
      <span>Автор не указан</span>
    {% endif %}
</div>
{% endblock %}

